  
img, #header {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

body {
	background-image: url(../img/beach.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body, 
html {
	min-height: 100%;
}

#welcome {
	display: flex;
	justify-content: center;
	font-family: "Lucida Console";
	font-size: 38px;
	font-weight: bold;
	color: #DB1428;
}

#stitch {
	display: none;
	width: 250px;
	height: auto;
	display: block;
}

.form-row {
	width: 25%;
}

.player-buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	top: 1000px;
}

#HungerStats {
	size: 25;
	font-weight: bold;
	color: #DB1428;
}

#SleepStats {
	font-size: 25;
	font-weight: bold;
	color: #DB1428;
}


#PlayStats {
	font-size: 25;
	font-weight: bold;
	color: #DB1428;
}

#GetOldStats {
	font-size: 25;
	font-weight: bold;
	color: #DB1428;
}

.movingStitch {
  display: block;
  top: 100px;
  left: 100px;
  animation: move 3s ease infinite;
}

@keyframes move {
  100% {
     transform: translate(1000px, 0px);
  }
}

@media screen and (max-width:700px) {
#stitch {
	display: none;
	width: 150px;
	height: auto;
	display: block;
}

#HungerBar {
	color: yellow;
}

#SleepBar {
	color: yellow;
}

#PlayBar {
	color: yellow;
}

#OldBar {
	color: yellow;
}

